@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
}

@keyframes cardSlideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.card-animation {
  animation: cardSlideIn 1s ease-out;
}
