@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

@keyframes cardSlideIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.card-animation-fast {
  animation: cardSlideIn 1s ease-out;
}

.card-animation {
  animation: cardSlideIn 2s ease-out;
}

.quality-data {
  background: url("/assets/information/image-section/quality-data-bg.svg"),
    linear-gradient(172deg, #0041c3, #0065f2);
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
  background-position: 50%, 0 0;
}
